@import '../../../styles/settings/__settings';

.button {
	color: $color-text;
	font-family: inherit;
	font-size: 1.3em;
	font-weight: 600;
	background-color: $color-bg;
	padding: 0.7em 1.4em;
	border: $border-width-medium solid $color-text;
	border-radius: $border-radius-medium;
	box-shadow: $fx-dropShadow;
	transition-duration: $duration-middle;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: $space-mini;

	&:hover,
	&:focus {
		color: $color-bg;
		background-color: $color-text;
		transition-duration: $duration-short;
		gap: $space-small;
	}

	&:active {
		background-color: $color-text;
		color: $color-bg;
		transform: translateY(0.1em) scale(0.95);
		box-shadow: none;
	}
}
