@import '../../../styles/settings/__settings';

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.canvasOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 1;
	background: radial-gradient(circle, $color-primary-transparent-strong 40%, $color-bg 80%);
}

@include only-mobile {
	.canvasOverlay {
		opacity: 1;
	}
}
