@import '../../styles/settings/__settings';

.customerLink {
	margin: 0;
	user-select: none;
	-webkit-user-drag: none;
	pointer-events: auto;
}

.customerLogo {
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	-webkit-user-drag: none;
	pointer-events: auto;
	& > * {
		user-select: none;
		-webkit-user-drag: none;
		pointer-events: auto;
	}
}

.aboutSection {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	background: $color-bg-transparent;
	backdrop-filter: blur(10em);
	min-height: 50dvh;

	.aboutContent {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 10vh;
		width: 100%;
		align-items: center;

		.aboutBlock {
			display: flex;
			gap: $space-small;

			.image {
				max-width: 100%;
				height: auto;
				object-fit: contain;
				pointer-events: none;
			}
		}

		.numbers {
			position: relative;
			display: flex;
			flex-direction: column;
			flex-flow: row wrap;
			justify-content: center;
			gap: $space-medium;
			align-items: center;
			width: 100%;
			max-width: 80%;

			.infoBox {
				display: flex;
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: max-content;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				padding: 1rem;
				gap: $space-medium;
				background-color: $color-container;
				border: $containerBorder;
				border-radius: $border-radius-medium;
				transition: (all 0.3s ease-in-out);
				width: 100%;
				max-width: 80%;
				box-shadow: $fx-dropShadow-light;
				&:hover {
					transform: scale(1.1);
					box-shadow: $fx-dropShadow-medium;
				}
				line-height: 1.5rem;

				.years {
					font-weight: bold;
					font-size: $font-size-h3;
				}
				.years + span {
				}
			}
		}
	}
}

.portfolioSection {
	display: flex;
	flex-direction: column;
	@include blur-light;
	border-top: $containerBorder;
	border-bottom: $containerBorder;

	.portfolioContent {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: $space-medium;

		.portfolioTextBlock {
			width: 100%;
			padding-top: 65dvh;
		}

		.showWork {
			position: absolute;
			top: 10vh;
			margin: auto;
			align-self: end;
		}
	}
}

.contactSection {
	.contactContent {
		.contact {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin: $space-small;
			padding: $space;
			background: $color-container;
			border: $containerBorder;
			border-radius: $border-radius-huge;
			@include blur-light;

			h3 {
				font-size: $font-size-huge;
			}
		}
	}
}

@include from-tablet {
	.portfolioSection {
		.portfolioContent {
			margin-top: unset;
			.portfolioTextBlock {
				width: 100%;
			}
		}
	}
}
