@import '../styles/settings/__settings';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Helvetica Neue,
		sans-serif;
}

body {
	position: relative;
	overflow: auto;
	background-color: $color-bg;
	color: $color-text;

	/* Background glows */
	&::before,
	&::after {
		content: '';
		position: absolute;
		inset: 0;
		pointer-events: none;
		mix-blend-mode: color-dodge;
		opacity: 0.5;
		z-index: 0;
		background-repeat: no-repeat;
	}

	/* Top left background glow */
	&::before {
		--light-size: 75vmin;

		background-image: radial-gradient(circle at center, #00ffef, black 75%);
		background-size: var(--light-size) var(--light-size);
		background-position: calc(50% - min(100vw, 100vw) / 2 + 5vw) calc(var(--light-size) / -2 - 2vmin);
	}
	/* Bottom right background glow */
	&::after {
		--light-size: 0vw;

		background-image: radial-gradient(circle at center, #df9b1c, black 75%);
		background-size: var(--light-size) var(--light-size);
		background-position: calc(100% + var(--light-size) / 2 + 2vmin) calc(100% + var(--light-size) / 2 + 2vmin);
	}
}

h1 {
	font-size: $font-size-h1;
	font-family: Geologica, sans-serif;
	line-height: 1.15;
	font-weight: 600;
}
h2 {
	font-size: $font-size-h2;
	font-weight: 700;
}

p {
	font-size: $font-size-p;
	line-height: clamp(0.5rem, calc(1.5rem + 1vw), 3rem);
	margin: 1.2em 0;
}

ul {
	padding-left: 1.2em;
}

a {
	color: $color-primary;
	transition: all $duration-short ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

input {
	&[type='text'],
	&[type='search'],
	&[type='email'] {
		outline-offset: 0;
		padding: 0.5em 0.8em;
	}
}

figcaption {
	color: $color-gray-500;
	font-size: 0.9em;
	text-align: center;
	font-style: italic;
	margin-top: 0.6em;
}

.sr-only {
	display: block;
	overflow: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 0;
	height: 0;
}

/*===== Scrollbar =====*/
::-webkit-scrollbar {
	width: clamp(5px, 0.6rem + 6vw, 1rem);
}

::-webkit-scrollbar-track {
	background: $color-bg;
	border-left: 10px solid transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border: 4px solid transparent;
	opacity: 0.2;
	background-color: $color-container;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: $color-text;
}

.scrollbar__mini {
	&::-webkit-scrollbar {
		width: 2px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 0;
		border: 0;
		background-color: $color-container;
	}
}

/*a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
[tabindex]:focus,
area:focus {
	//color: $color-bg !important;
	font-weight: 700 !important;
	//background-color: $color-text !important;
	box-shadow: $fx-dropShadow-glow-slight !important;
}*/
