@import '../styles/settings/__settings';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Helvetica Neue,
		sans-serif;
}

body {
	position: relative;
	overflow: hidden;
	background-color: $color-bg;

	/* Background glows */
	&::before,
	&::after {
		content: '';
		position: absolute;
		inset: 0;
		pointer-events: none;
		mix-blend-mode: color-dodge;
		opacity: 0.5;
		z-index: 0;
		background-repeat: no-repeat;
	}

	/* Top left background glow */
	&::before {
		--light-size: 70vmin;

		background-image: radial-gradient(circle at center, $color-primary, black 70%);
		background-size: var(--light-size) var(--light-size);
		background-position: calc(50% - min(100vw, $bp-wide) / 2 + 5vw) calc(var(--light-size) / -2 - 2vmin);
	}
	/* Bottom right background glow */
	&::after {
		--light-size: 100vw;

		background-image: radial-gradient(circle at center, $color-complementary, black 70%);
		background-size: var(--light-size) var(--light-size);
		background-position: calc(100% + var(--light-size) / 2 + 2vmin) calc(100% + var(--light-size) / 2 + 2vmin);
	}
}

p {
	line-height: 1.6;
	margin: 1.2em 0;
}

ul {
	padding-left: 1.2em;
}

a {
	color: $color-primary;
}

img {
	max-width: 100%;
	height: auto;
}

input {
	&[type='text'],
	&[type='search'],
	&[type='email'] {
		outline-offset: 0;
		padding: 0.5em 0.8em;
	}
}

figcaption {
	color: $color-gray-500;
	font-size: 0.9em;
	text-align: center;
	font-style: italic;
	margin-top: 0.6em;
}

.sr-only {
	display: block;
	overflow: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 0;
	height: 0;
}

/*a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
[tabindex]:focus,
area:focus {
	//color: $color-bg !important;
	font-weight: 700 !important;
	//background-color: $color-text !important;
	box-shadow: $fx-dropShadow-glow-slight !important;
}*/
