@import '../../../styles/settings/_settings';

.container {
	position: relative;
	width: min-content;
	height: 100%;
	max-width: 100%;
	min-width: 50vw;
	background: $color-bg-transparent-light;
	border-radius: $border-radius-medium;
	@include blur;

	.header {
		position: relative;
		display: flex;
		flex-direction: row;
		gap: $space-small;
		align-items: center;
		width: 100%;
		height: 3em;
		max-height: 3em;
		padding: $space-small;
		color: $color-text;
		background: $color-container;
		border-radius: $border-radius-medium $border-radius-medium 0 0;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		border-bottom: $color-text-transparent 1px solid;
		z-index: 1;

		.dots {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: $space-small;
			cursor: pointer;

			.dot {
				width: 0.8em;
				height: 0.8em;
				border-radius: 50%;
				background: $color-text-transparent;
				transition: background $duration-short ease-in-out;

				&.close {
					background: $color-primary;
				}

				&:hover {
					opacity: 0.7;
				}
			}
		}

		.title {
			flex: 1;
			align-content: center;
			text-align: right;
		}

		&:hover {
			.dots {
				.close {
					background: #ff5f57;
				}
				.minimize {
					background: #ffbd2e;
				}
				.maximize {
					background: #28c940;
				}
			}
		}
	}

	.content {
		position: relative;
		min-height: 5em;
		max-height: 100%;
		height: 100%;
		width: 100%;
		z-index: 0;
	}
}

@include from-tablet {
	.container {
		.header {
			.title {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
				white-space: nowrap;
			}
		}
	}
}
