@import '../../../styles/settings/_settings';

.header {
	position: fixed;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding: $space-small $space-medium $space-small $space-medium;

	.headerWrapper {
		display: flex;
	}
}

.navLogo {
	position: relative;
	display: flex;
	align-items: center;
	width: fit-content;
	height: fit-content;
}

.wrapper {
	width: 100%;
}
