@import '../../styles/settings/__settings';

.header {
	display: flex;
	width: 100%;
	padding: $space-small $space-medium $space-small $space-medium;
}

.navLogo {
	display: flex;
	align-items: center;
}

.wrapper {
	width: 100%;
}
