@import '../../styles/settings/__settings';

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: $space-small $space-medium $space-small $space-medium;

	.headerWrapper {
		display: flex;
	}
}

.navLogo {
	display: flex;
	align-items: center;
}

.wrapper {
	width: 100%;
}
