@import '../../../styles/settings/_settings';

.content {
	position: relative;
	width: 100%;
	max-width: $container-width;
	height: 100%;
	padding: $space $space;
	margin: auto;
	align-content: center;

	h2,
	h3,
	h4,
	p,
	ul {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	img {
		display: block;
		margin: 0 auto;
	}
}
