@import '../../../styles/settings/__settings';

.layoutContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100dvh;
	width: 100%;
	transition: height $duration-short ease-in-out;
}

.main {
	display: flex;
}

.centeredContainer {
	text-align: center;
}
