@import '../../../../styles/settings/_settings';

.hero {
	position: relative;
	width: 100%;
	min-height: 100dvh;

	.content {
		display: flex;
		flex-direction: column-reverse;
		gap: $space;
		align-items: center;
		min-height: 95vh;
		max-width: unset;

		.socialLinks {
			display: none;
		}

		.textBox {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: $space-small;
			padding-bottom: 15vh;

			hr {
				width: 4rem;
			}
			h1 {
				margin: 0;
			}
			h2 {
				color: $color-text-transparent-light;
			}
			p {
				font-size: clamp(0.7em, calc(0.1em + 4vw), 1.5em);
				max-width: 100%;
			}
			.btn {
				margin-top: $space-small;
				align-self: start;
			}
		}
		.image {
			//display: none;
			position: absolute;
			bottom: 0;
			width: calc(240px + 8vw);
			max-width: 500px;
			right: 0;
		}
	}
}

@include up-to-tablet {
	.hero {
		.content {
			.image {
				display: block;
				width: 45%;
				right: 2vw;
			}
		}
	}
}

@include from-tablet {
	.hero {
		.content {
			flex-direction: row;
			min-height: 100dvh;
			.image {
				display: block;
				width: calc(370px + 4vw);
				right: calc($space-mini + 4vw);
			}

			.socialLinks {
				display: flex;
				flex-direction: column;
				gap: $space-medium;

				a {
					font-size: $font-size-h2;
					color: $color-text-passive;

					&:hover {
						transform: scale(1.2);
						color: $color-primary;
					}
				}
			}
			.textBox {
				padding-top: 20vh;
				padding-bottom: unset;
				p {
					max-width: 60%;
				}
			}
		}
	}
}
