@import '../../../../styles/settings/_settings';

.hero {
	position: relative;
	width: 100%;
	height: 100vh;
	align-items: center;

	.textBox {
		display: flex;
		flex-direction: column;
		align-items: end;
		gap: $space-small;

		hr {
			width: 4rem;
		}
		h1 {
			margin: 0;
			line-height: 1.15;
			font-size: 6em;
			font-weight: 600;
		}
		h2 {
			font-size: 1.5em;
			color: $color-text-transparent-light;
			font-weight: 700;
		}
		p {
			font-size: 1.4em;
		}
		.btn {
			align-self: center;
		}
	}
}

@include from-tablet {
	.hero {
		.textBox {
			p {
				max-width: 50%;
			}
			.btn {
				align-self: end;
			}
		}
	}
}
