@import '../../../../styles/settings/_settings';

.hero {
	position: relative;
	width: 100%;
	height: 100vh;

	.content {
		display: flex;
		flex-direction: column-reverse;
		gap: $space;
		align-items: center;

		.socialLinks {
			display: none;
		}

		.textBox {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: $space-small;
			padding-bottom: 15vh;

			hr {
				width: 4rem;
			}
			h1 {
				margin: 0;
			}
			h2 {
				color: $color-text-transparent-light;
			}
			p {
				font-size: clamp(0.7em, calc(0.5em + 3vw), 1.5em);
			}
			.btn {
				margin-top: $space-small;
				align-self: center;
			}
		}
	}
}

@include from-tablet {
	.hero {
		.content {
			flex-direction: row;

			.socialLinks {
				display: flex;
				flex-direction: column;
				gap: $space-medium;

				a {
					font-size: $font-size-h2;
					color: $color-text-passive;

					&:hover {
						transform: scale(1.2);
						color: $color-primary;
					}
				}
			}
			.textBox {
				padding-top: 20vh;

				p {
					max-width: 50%;
				}
				.btn {
					align-self: start;
				}
			}
		}
	}
}
